In [53]:
myRDD = sc.parallelize([1,2,3,4,5,6,7,8,9,10,11,12])
myRDD.count()

78

In [54]:
myRDD = sc.parallelize([1,2,3,4,5,6,7,8,9,10,11,12])
myRDD.take(3)

[1, 2, 3]

In [13]:
myRDD = sc.parallelize([1,2,3,4,5,6,7,8,9,10,11,12])
myRDD.reduce(lambda x, y : x + y)

78

In [21]:
myRDD = sc.parallelize([(1,2), (3,4), (3,6)])
myRDD.reduceByKey(lambda a, b: a + b).collect()

[(1, 2), (3, 10)]

In [56]:
myRDD = sc.parallelize([1,2,3,4,5,6,7,8,9,10,11,12])
myRDD.saveAsTextFile('file.txt')

In [34]:
myRDD = sc.parallelize([1,2,3,4,5,6,7,8,9,10,11,12,13],9)
# myRDD.collect()
myRDD.glom().collect()

[[1], [2], [3, 4], [5], [6, 7], [8], [9, 10], [11], [12, 13]]

In [24]:
dataList = [("Java", 20000), ("Python", 100000), ("Scala", 3000)]
rdd = sc.parallelize(dataList)
rdd.collect()

[('Java', 20000), ('Python', 100000), ('Scala', 3000)]

In [37]:
myRDD = sc.parallelize([(1,'a'), (2,'c'), (1,'b')])
# myRDD.groupByKey().map(lambda x : (x[0], list(x[1]))).collect()
myRDD.groupByKey().mapValues(list).collect()

[(1, ['a', 'b']), (2, ['c'])]

In [62]:
my_rdd = sc.parallelize([1,2,3,4])
my_rdd.map(lambda x: x+ 10).collect()

[11, 12, 13, 14]

In [59]:
filter_rdd = sc.parallelize([2, 3, 4, 5, 6, 7])
filter_rdd.filter(lambda x: x%2 == 0).collect()

[2, 4, 6]

In [67]:
filter_rdd = sc.parallelize(['Rahul', 'Swati', 'Rohan', 'Shreya', 'Priya'])
filter_rdd.filter(lambda x: x.startswith('R')).collect()

['Rahul', 'Rohan']

In [68]:
data = sc.parallelize([2,4,5,6,7,8,9,12,23,13,11,19,32])
union_1 = data.filter(lambda x: x % 2 == 0)
union_2 = data.filter(lambda x: x % 3 == 0)
union_1.union(union_2).collect()

[2, 4, 6, 8, 12, 32, 6, 9, 12]

In [69]:
data = sc.parallelize(["Hey there","welcome","This is PySpark RDD","Transformations"])
data.flatMap(lambda x: x.split(" ")).collect()

['Hey', 'there', 'welcome', 'This', 'is', 'PySpark', 'RDD', 'Transformations']

In [72]:
data = sc.parallelize([('Rahul', 25), ('Swat', 26), ('Shreya', 22), ('Abhay', 29), ('Rohan', 22), ('Rahul', 23), ('Swati', 19), ('Shreya', 28), ('Abhay', 26), ('Rohan', 22)])
data.reduceByKey(lambda x, y: x + y).collect()

[('Shreya', 50),
 ('Swati', 19),
 ('Rahul', 48),
 ('Swat', 26),
 ('Abhay', 55),
 ('Rohan', 44)]

In [73]:
rdd = sc.parallelize([('Rahul', 25), ('Swati', 26), ('Shreya', 22), ('Abhay', 29), ('Rohan', 22), ('Rahul', 23), ('Swati', 19), ('Shreya', 28), ('Abhay', 26), ('Rohan', 22)])
rdd.sortByKey('ascending').collect()

[('Abhay', 29),
 ('Abhay', 26),
 ('Rahul', 25),
 ('Rahul', 23),
 ('Rohan', 22),
 ('Rohan', 22),
 ('Shreya', 22),
 ('Shreya', 28),
 ('Swati', 26),
 ('Swati', 19)]

In [38]:
rdd = sc.parallelize([('Rahul', 25), ('Swati', 26), ('Shreya', 22), ('Abhay', 29), ('Rohan', 22), ('Rahul', 23), ('Swati', 19), ('Shreya', 28), ('Abhay', 26), ('Rohan', 22)])
data = rdd.groupByKey().collect()
for key, value in data:
    print(key, list(value))

Shreya [22, 28]
Swati [26, 19]
Rahul [25, 23]
Abhay [29, 26]
Rohan [22, 22]

In [39]:
rdd = sc.parallelize([('Rahul', 25), ('Swati', 26), ('Rohan', 22), ('Rahul', 23), ('Swati', 19), ('Shreya', 28), ('Abhay', 26), ('Rohan', 22)])
data = rdd.countByKey().items()
for key, value in data:
    print(key, value)

Rahul 2
Swati 2
Rohan 2
Shreya 1
Abhay 1

In [60]:
from pyspark import SparkContext
from pyspark.sql import SparkSession
sc = SparkContext.getOrCreate()
spark = SparkSession.builder.appName('PySpark DataFrame From RDD').getOrCreate()
rdd = sc.parallelize([('C',85,76,87,91), ('B',85,76,87,91), ("A", 85,78,96,92), ('A', 92,76,89,96)], 4)
#print(type(rdd))
sub = ['Division','English','Mathematics','Physics','Chemistry']
df = spark.createDataFrame(rdd, schema=sub)
#print(type(df))
#df.printSchema()
df.show()

+--------+-------+-----------+-------+---------+
|Division|English|Mathematics|Physics|Chemistry|
+--------+-------+-----------+-------+---------+
|       C|     85|         76|     87|       91|
|       B|     85|         76|     87|       91|
|       A|     85|         78|     96|       92|
|       A|     92|         76|     89|       96|
+--------+-------+-----------+-------+---------+

In [73]:
df = spark.read.csv('samplefiles/allveg.csv', header = True)
df.show(5)

22/07/01 00:04:55 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: , X, point, int, short, tall, pe, pcgrass, up, bg, water
 Schema: _c0, X, point, int, short, tall, pe, pcgrass, up, bg, water
Expected: _c0 but found:
CSV file: file:///opt/spark/spark-3.3.0-bin-hadoop3/samplefiles/allveg.csv
+---+---+--------+----+-----+----+---+-------+---+---+-----+
|_c0|  X|   point| int|short|tall| pe|pcgrass| up| bg|water|
+---+---+--------+----+-----+----+---+-------+---+---+-----+
|  1|  1|   AV067|0.05|   85|   0| NA|     NA|  0|  0|    5|
|  2|  2| LBKIRA3|0.04|   97|   0| NA|     NA|  0|  0|    3|
|  3|  3| LBKIRA4|0.14|   99|   0| NA|     NA|  0|  0|    1|
|  4|  4|NVVEG023|   0|    0| 100| NA|     NA|  0|  0|    0|
|  5|  5|NVVEG031|0.14|    5|  90| NA|     NA|  0|  0|    5|
+---+---+--------+----+-----+----+---+-------+---+---+-----+
only showing top 5 rows

In [92]:
df = spark.read.csv('samplefiles/allveg.csv', header = True)
df = df.drop('_c0')
df = df.withColumn('Water in ml', df.water*1000)
df = df.withColumnRenamed("water", "water in l")
df.select(df.point, df['water in ml'])
df.select(df['water in l'].alias("liters")).show()
# df.show(2)

+------+
|liters|
+------+
|     5|
|     3|
|     1|
|     0|
|     5|
|     0|
|     1|
|     0|
|     0|
|     0|
|     0|
|     5|
|     0|
|     0|
|     0|
|     0|
|     0|
|     0|
|     0|
|     0|
+------+
only showing top 20 rows

In [104]:
# df = spark.read.text('samplefiles/sample1.txt')
df = spark.read.json('samplefiles/Fig4c.json',multiLine=True)
# type(df)
df.printSchema()

root
 |-- batters: struct (nullable = true)
 |    |-- batter: array (nullable = true)
 |    |    |-- element: struct (containsNull = true)
 |    |    |    |-- id: string (nullable = true)
 |    |    |    |-- type: string (nullable = true)
 |-- id: string (nullable = true)
 |-- name: string (nullable = true)
 |-- ppu: double (nullable = true)
 |-- topping: array (nullable = true)
 |    |-- element: struct (containsNull = true)
 |    |    |-- id: string (nullable = true)
 |    |    |-- type: string (nullable = true)

In [109]:
files = ['samplefiles/allveg.csv', 'samplefiles/cars.csv']
df = spark.read.csv(files, sep = ',' ,  inferSchema=True, header=True)
df.show()

22/07/01 01:10:15 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: , X, point, int, short, tall, up, bg, water
 Schema: _c0, X, point, int, short, tall, up, bg, water
Expected: _c0 but found:
CSV file: file:///opt/spark/spark-3.3.0-bin-hadoop3/samplefiles/allveg.csv
+---+---+--------+----+-----+----+---+---+-----+
|_c0|  X|   point| int|short|tall| up| bg|water|
+---+---+--------+----+-----+----+---+---+-----+
|  1|  1|   AV067|0.05|   85|   0|  0|  0|    5|
|  2|  2| LBKIRA3|0.04|   97|   0|  0|  0|    3|
|  3|  3| LBKIRA4|0.14|   99|   0|  0|  0|    1|
|  4|  4|NVVEG023|   0|    0| 100|  0|  0|    0|
|  5|  5|NVVEG031|0.14|    5|  90|  0|  0|    5|
|  6|  6|NVVEG024|   0|    0| 100|  0|  0|    0|
|  7|  7|NVVEG029|0.02|   10|  49|  0|  0|    1|
|  8|  8|NVVEG030|   0|    5|  60|  0|  0|    0|
|  9|  9|NVVEG032|   0|   30|  35|  0|  0|    0|
| 10| 10|NVVEG022|   0|    0|  70| 15|  0|    0|
| 11| 11|NVVEG033|   0|    5|  20|  0|  0|    0|
| 12| 12|NVVEG028|0.13|   15|  25| 30|  0|    5|
| 13| 13|NVVEG025|   0|   10|  30| 45|  0|    0|
| 14| 14|NVVEG035|   0|   10|  55| 20|  0|    0|
| 15| 15|NVVEG034|   0|   10|  60|  0|  0|    0|
| 16| 16|NVVEG038|   0|    0|   0| 97|  0|    0|
| 17| 17|NVVEG027|   0|    0|   0| 99|  0|    0|
| 18| 18|NVVEG039|   0|    0|   0| 95|  0|    0|
| 19| 19|NVVEG026|   0|    0|   0| 94|  0|    0|
| 20| 20|NVVEG036|   0|    0|  30| 60|  0|    0|
+---+---+--------+----+-----+----+---+---+-----+
only showing top 20 rows